<div class="writeupEMP">
<p>This is a {{type}} for the event that happened on:{{date_created}}</p>
<p>Infraction: {{reason}}</p>
<p>Created by: {{manager}}</p>
<p>Description of the event: {{content}}</p>
<p>Consequences of repeat violation are further disciplinary action up to and including termination.</p>
<p>Do you agree or disagree with the event as described?</p>
<label>
        <input type="checkbox" name="agree" value="yes">
        Yes
    </label>
    <label>
        <input type="checkbox" name="agree" value="no">
        No
    </label>
<label for="comment-content">Employee's course of action to improve or comments about the incident:
<textarea class="form-input" id="comment-content" name="comment-content"></textarea>
</label>
<label for="writeup-acknowledged">I am acknowledging that this write up has been presented to me and all of the information on this document will be put into my personal file including my comments and acknowledgement.
    <input type="checkbox" id="writeup-acknowledged" name="writeup-acknowledged">
</label>
<button class="btn submit" type="submit">Confirm</button>
</div>

<script>
    const acknowledgeCheckbox = document.getElementById('writeup-acknowledged');
    const confirmButton = document.querySelector('.submit');

    acknowledgeCheckbox.addEventListener('change', function(){
        confirmButton.disabled = !acknowledgeCheckbox.checked;
    });
</script>