
<div class="writeupEMP">
<p>This is a {{type}} for the event that happened on:{{date_created}}</p>
<p>Infraction: {{reason}}</p>
<p>Created by: {{manager}}</p>
<p>Description of the event: {{content}}</p>
<p>Consequences of repeat violation are further disciplinary action up to and including termination.</p>

<p>Employee's course of action to improve or comments about the incident:</p>
<p>{{comment}}</p>
<p>I am acknowledging that this write up has been presented to me and all of the information on this document will be put into my personal file including my comments and acknowledgement.</p>
<p>{{acknowledged}}</p>

